{% extends 'blog/mainblog.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container post">
<div class="card text-white bg-dark mb-3">
    <div class="col-xl-12 container">
        <form method="POST" class="post">{% csrf_token %}
            {{ form | crispy }}
            <a class="btn btn-outline-light float-left" href="{% url 'post_list_ext' %}">Cancelar</a>
            <button type="submit" class="btn btn-outline-light float-right">Postear</button>
            
    </div>
</div>
{% endblock %}