{% extends 'blog/mainblog.html' %}

{% block content %}
{% for post in posts %}
<div class="container post">
    <div class="card text-white bg-dark mb-3">
        
        <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.text}}</p>
            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-outline-light float-right">Ver Post</a>
        </div>
        <div class="card-footer text-muted">
            {{ post.published_date }}
            <a href="#">Por {{post.author}}</a>
        </div>
    </div>
</div>
<hr>
{% endfor %}
{% endblock %}